{% extends "base.html" %}

{% block title %}{{ object.name }}代表の評価は？ | {{ block.super }}{% endblock %}
{% block description %}{{ object.name }}代表の評価を投稿・チェックできるページです。コメント付きの評価を誰でも投稿できます。{% endblock %}

{% block navbar %}
  {% include "base/national_navbar.html" %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <main class="col-md-8">
      {% include "soccer/national/snippets/national_profile_area.html" %}
      
      <div class="border rounded-lg p-4 mb-4">
          {% include "soccer/national/snippets/national_average_ratings.html" %}

          {% if country.num_comments > 1 %}
          <div class="btn-group-vertical w-100 mb-3" role="group">
            <div class="btn-group w-100" role="group">
              <a href="{% url 'soccer:national_detail' country.slug %}" class="btn btn-outline-primary w-50">最新順</a>
              <a href="{% url 'soccer:national_detail_like_count' country.slug %}" class="btn btn-outline-primary w-50">いいね数順</a>
            </div>
            <div class="btn-group w-100" role="group">
              <button type="button" class="btn btn-primary w-50 active">高評価順</button>
              <a href="{% url 'soccer:national_detail_low_rating' country.slug %}" class="btn btn-outline-primary w-50">低評価順</a>
            </div>
          </div>
          {% endif %}
          
          {% include "soccer/snippets/national_comments.html" %}
          
          {% include "soccer/national/snippets/national_comment_pagination.html" %}
      </div>
          
      {% include "soccer/national/snippets/national_related_pages.html" %}
    </main>
    <aside class="col-md-4">
      {% include "soccer/snippets/sidebar.html" %}
    </aside>
  </div>
</div>
{% endblock %}

{% block javascripts %}
  {% include "soccer/national/snippets/national_radar_chart_js.html" %}
{% endblock %}
