{% extends "base.html" %}

{% block title %}タイムライン | {{ block.super }}{% endblock %}

{% block navbar %}
  {% include "base/player_navbar.html" %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <main class="col-md-8">
      <h2>タイムライン</h2>
      <div class="btn-group w-100 my-3" role="group">
        <a href="{% url 'soccer:user_timeline_player_comment' %}" class="btn btn-outline-primary w-25">選手</a>
        <a href="{% url 'soccer:user_timeline_manager_comment' %}" class="btn btn-outline-primary w-25">監督</a>
        <a href="{% url 'soccer:user_timeline_club_comment' %}" class="btn btn-outline-primary w-25">クラブ</a>
        <button type="button" class="btn btn-primary w-25 active">代表</button>
      </div>
      {% for nationalcomment in object_list %}
        <div class="card my-4">
          <div class="card-body">
            <a href="{% url 'soccer:national_detail' nationalcomment.country.slug %}"><p>{{ nationalcomment.country.flag|safe }} <strong>{{ nationalcomment.country.name }}代表</a>｜<i class="fas fa-star"></i> 総合評価：{{ nationalcomment.ovr }}/7｜<i class="fas fa-thumbs-up"></i> {{ nationalcomment.like }}いいね</strong></p>
            <p>投稿者：{% if nationalcomment.user %}{{ nationalcomment.user.nickname }}{% else %}{{ nationalcomment.author }}{% endif %}（投稿日：{{ nationalcomment.timestamp }}）</p>
            <p>{{ nationalcomment.text|linebreaksbr|truncatechars_html:50 }}</p>
            <a href="{% url 'soccer:national_detail' nationalcomment.country.slug %}" class="btn btn-primary"><i class="fas fa-search"></i> 代表チームをチェック</a>
          </div>
        </div>
      {% empty %}
        <div class="text-center my-4">
          <i class="fas fa-comment-slash"></i> まだ投稿はありません。<br>
        </div>
      {% endfor %}
      {% include "soccer/snippets/pagination.html" %}
    </main>
    <aside class="col-md-4">
      {% include "soccer/snippets/sidebar.html" %}
    </aside>
  </div>
</div>
{% endblock %}
