{% extends "base.html" %}

{% block title %}{{ block.super }}｜クラブチーム専用トップページ{% endblock %}
{% block description %}プロサッカー選手のレビューサイト「みんなのサッカーラボ」のクラブチーム専用トップページです。みんなが投稿した評価コメントをチェックや評価コメントの投稿ができます。コメントの投稿は誰でも可能ですのでお気軽にコメントください。{% endblock %}

{% block navbar %}
  {% include "base/club_navbar.html" %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <main class="col-md-8">
      <div class="border rounded-lg p-4 mb-4">
        <h1 class="mb-4 headline1"><i class="far fa-futbol"></i> みんなのサッカーラボ｜クラブ専用トップ</h1>
        <hr>
        <p>
          「みんなのサッカーラボ」のクラブチーム専用トップページです。<br>
          各クラブチームに対する評価コメントの投稿やみんなの評価コメントをチェックできます。<br>
          お探しのクラブチームがありましたら以下の検索欄またはリンクからお探しください。
        </p>
        <br>
        <div class="form-center mb-3">
          <form class="search-flex my-2 my-lg-0" action="{% url 'soccer:search_club' %}" method="GET">
            <input class="form-control mr-sm-2" type="search" name="q" value="{{ request.GET.q }}" placeholder="クラブチーム検索" aria-label="クラブチーム検索" required>
            <button class="btn btn-dark my-sm-0" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
        <br>
        <div class="text-center top-one-column-menu-item">
          <a href="/league/"><i class="fas fa-search"></i> リーグから探す</a>
        </div>
      </div>
      <div class="border rounded-lg p-4 mb-4">
        <h2 class="headline2"><i class="fas fa-users"></i> 新着クラブチーム一覧</h2>
        <hr>
        {% for team in object_list|slice:":5" %}
          {% if team.is_public %}
            <a href="{% url 'soccer:club_detail' team.slug %}">
              <h3 class="player-headline">{{ team.league.flag|safe }} {{ team.name }}</h3>
            </a>
            <p class="card-text"><i class="fas fa-comments"></i> コメント数：{{ team.num_comments }}件｜<i class="fas fa-chart-bar"></i> 平均総合評価：{{ team.avg_ratings.ovr__avg|floatformat:"1"|default:0 }}/7.0</p>
            <hr>
          {% endif %}
        {% empty %}
          <div class="text-center mb-3">
            <i class="fas fa-user-alt-slash"></i> まだ投稿はありません。
          </div>
        {% endfor %}
        <div class="text-center">
          <a class="btn btn-primary" href="/league/"><i class="fas fa-check-circle"></i> 他の代表チームもチェックする</a>
        </div>
      </div>

      <div class="border rounded-lg p-4 mb-4">
        <h2 class="headline2"><i class="fas fa-comments"></i> 新着コメント一覧</h2>
        <hr>
        {% for clubcomment in comment_list|slice:":5" %}
            <a href="{% url 'soccer:club_detail' clubcomment.team.slug %}"><p>{{ clubcomment.team.league.flag|safe }} <strong>{{ clubcomment.team.name }}</a>｜<i class="fas fa-star"></i> 総合評価：{{ clubcomment.ovr }}/7｜<i class="fas fa-thumbs-up"></i> {{ clubcomment.like }}いいね</strong></p>
            <p>投稿者：{{ clubcomment.author }}（投稿日：{{ clubcomment.timestamp }}）</p>
            <p>{{ clubcomment.text|linebreaksbr|truncatechars_html:50 }}</p>
            <hr>
        {% empty %}
          <div class="text-center mb-3">
            <i class="fas fa-comment-slash"></i> まだ投稿はありません。
          </div>
        {% endfor %}
        <div class="text-center">
          <a class="btn btn-primary" href="/team/comment/list/"><i class="fas fa-check-circle"></i> 他のコメントもチェックする</a>
        </div>
      </div>

      <div class="mb-4">
        {% include "soccer/snippets/google_adsense_code.html" %}
      </div>
    </main>
    <aside class="col-md-4">
      {% include "soccer/snippets/sidebar.html" %}
    </aside>
  </div>
</div>
{% endblock %}
