<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <title>アクセスできません | みんなのサッカーラボ</title>
    </head>
    <body>
        <h1>アクセスできません</h1>
        <hr>
        <p>
            問題行為を複数回にわたり行ったためアクセスを制限しました。<br>
            アクセス制限に対して異論がある場合は<a href="https://twitter.com/football_labo21">みんなのサッカーラボ公式Twitterアカウント</a>のダイレクトメッセージで対応いたします。
        </p>
    </body>
</html>
