{% extends "base.html" %}

{% block title %}地域一覧（監督） | {{ block.super }}{% endblock %}
{% block description %}地域一覧からサッカー監督を探せるページです。お探しの監督がいましたら該当する地域をチェックしてみてください。{% endblock %}

{% block navbar %}
  {% include "base/manager_navbar.html" %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <main class="col-md-8">
      <h1 class="headline1"><i class="fas fa-list-ul"></i> 地域一覧（監督）</h1>
      <div class="flex-wrapper">
        {% for area in object_list|dictsort:"name" %}
            <div class="item-wrapper">
              <a href="{% url 'soccer:manager_area_country' area.slug %}">
                <i class="fas fa-globe"></i> {{ area.name }}
              </a>
              ({{ area.num_countries }})
            </div>
        {% empty %}
            <div>まだ投稿はありません。</div>
        {% endfor %}
      </div>
    </main>
    <aside class="col-md-4">
      {% include "soccer/snippets/sidebar.html" %}
    </aside>
  </div>
</div>
{% endblock %}
