{% extends "base.html" %}

{% block title %}監督一覧 | {{ block.super }}{% endblock %}
{% block description %}監督一覧ページです。詳細ページから監督の評価をチェック・投稿できます。お探しの監督が見つからない場合は監督追加のリクエストができます。{% endblock %}

{% block navbar %}
  {% include "base/manager_navbar.html" %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <main class="col-md-8">
      <h1 class="align-items-center headline1 mb-4"><i class="fas fa-user"></i> 監督一覧</h1>
      <div class="btn-group-vertical w-100 mb-3" role="group">
        <div class="btn-group w-100" role="group">
          <a href="{% url 'soccer:manager_list' %}" class="btn btn-outline-primary w-50">最新順</a>
          <a href="{% url 'soccer:manager_list_comment_count' %}" class="btn btn-outline-primary w-50">コメント数順</a>
        </div>
        <div class="btn-group w-100" role="group">
          <button type="button" class="btn btn-primary w-50 active">平均総合評価順</button>
        </div>
      </div>
      {% include "soccer/snippets/manager_main_page.html" %}
      {% include "soccer/snippets/pagination.html" %}
      <div class="text-center my-4">
        <a class="btn btn-primary" href="/request/">追加リクエスト</a>
      </div>
    </main>
    <aside class="col-md-4">
      {% include "soccer/snippets/sidebar.html" %}
    </aside>
  </div>
</div>
{% endblock %}
