{% extends "base.html" %}

{% block title %}パスワードリセット（メール送信） | {{ block.super }}{% endblock %}

{% block navbar %}
  {% include "base/player_navbar.html" %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <main class="col-md-8">
      <h1 class="mb-4 headline1">パスワードリセット申請</h1>
      <p>
        パスワードリセットのメールを送信しました。<br>
        メールに記載されているリンクからパスワードの再設定を行ってください。
      </p>
      <a href="{% url 'soccer:login' %}">ログインページ</a>
    </main>
    <aside class="col-md-4">
      {% include "soccer/snippets/sidebar.html" %}
    </aside>
  </div>
</div>
{% endblock %}