{% extends "base.html" %}

{% block title %}パスワードリセット | {{ block.super }}{% endblock %}

{% block navbar %}
  {% include "base/player_navbar.html" %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <main class="col-md-8">
      <h1 class="mb-4 headline1">パスワードリセット申請</h1>
      <form action="" method="POST">
          <p>
            メールを受信してパスワードの変更手続きを行います。<br>
            メールアドレスを入力して送信ボタンを押してください。
          </p>
          <p>
            <label>メールアドレス</label>
            {{ form.email }}
            {{ form.errors.email }}
          </p>
          {% csrf_token %}
          <div class="form-group row">
            <div class="col-6">
              <button type="submit" class="btn btn-primary">送信</button>
            </div>
          </div>
      </form>
      <a href="{% url 'soccer:login' %}" class="btn btn-secondary mb-3">戻る</a>
    </main>
    <aside class="col-md-4">
      {% include "soccer/snippets/sidebar.html" %}
    </aside>
  </div>
</div>
{% endblock %}