{% load i18n %}{% autoescape off %}
※このメールは「みんなのサッカーラボ」からお問い合わせいただいた方へ自動送信しております。

@{{ user.get_username }}様

パスワードリセットの申請を受け付けました。
パスワードの再設定をご希望の場合は、以下URLをクリックして新しいパスワードをご登録ください。

※パスワードリセットの申請に心当たりがない場合は、以降の対応は不要となります。

▼パスワードの再設定URL▼
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'soccer:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

※URLの期限は24時間です。

━━━━━━━━━━━━━━━━━━━━
■みんなのサッカーラボ運営事務局

【ホームページ】
https://football-labo.com/

【公式Twitter】
https://twitter.com/football_labo21

【メールアドレス】
soccerlabo.contact@gmail.com
━━━━━━━━━━━━━━━━━━━━
{% endautoescape %}
