{% extends "base.html" %}

{% block title %}パスワード変更 | {{ block.super }}{% endblock %}

{% block navbar %}
  {% include "base/player_navbar.html" %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <main class="col-md-8">
      <h1 class="mb-4 headline1">パスワード変更</h1>
      <form method="post">
        {% csrf_token %}
        <p>
          <label>元のパスワード</label>
          {{ form.old_password }}
          {{ form.errors.old_password }}
        </p>
        <p>
          <label>新しいパスワード</label>
          {{ form.new_password1 }}
          {{ form.errors.new_password1 }}
        </p>
        <p>
          <label>新しいパスワード（確認用）</label>
          {{ form.new_password2 }}
          {{ form.errors.new_password2 }}
        </p>
        <p><input type="submit" class="btn btn-primary" value="パスワード変更"></p>
      </form>
      <a href="{% url 'soccer:user_settings' %}" class="btn btn-secondary mb-3">戻る</a>
    </main>
    <aside class="col-md-4">
      {% include "soccer/snippets/sidebar.html" %}
    </aside>
  </div>
</div>
{% endblock %}