{% for comment in comments %}
    <p class="close-gap">
      <strong>
        {% if comment.user.is_active %}
        <i class="fas fa-check-square" style="color: #005eff;"></i> <a href="{% url 'soccer:user_player_comment_list' comment.user.username %}">{{ comment.user.nickname }}</a>
        {% else %}
        <i class="fas fa-user"></i> {{ comment.author }}
        {% endif %}
      </strong>（投稿日：{{ comment.timestamp }}）
    </p>
    <div class="flex">
      <div class="wrap-chart">
        <div class="chart-container">
          <canvas id="radar-chart-comment{{ comment.id }}"></canvas>
        </div>
        <table class="w-100 my-3 rate-table">
          <tr>
            <td class="comment-average-name text-center">総合評価</td>
          </tr>  
          <tr>
            <td class="comment-average-value text-center"><i class="fas fa-star"></i> {{ comment.ovr }} / 7</td>
          </tr>
        </table>
      </div>
      <div class="comment-detail">
        <p class="comment-text">{{ comment.text|linebreaksbr }}</p>
        <div class="text-center">
          <a href="javascript:void(0)" id="comment{{ comment.id }}" class="like{{ forloop.counter }} btn btn-dark" name="{{ comment.id }}">いいね ({{ comment.like }})</a>
          {% if user.is_superuser %}
            <a class="btn btn-danger" href="{% url 'soccer:comment_remove' comment.pk %}">削除</a>          
          {% endif %}
        </div>
        <div class="text-center mt-4">
          <a href="http://twitter.com/intent/tweet?text=⚽️みんなのサッカーラボ｜{{ comment.player }}の評価%0a%0a📝コメント%0a🗣️{{ comment.author }}さん - 📊総合評価：{{ comment.ovr }}／7%0a{{ comment.text|truncatechars_html:50 }}%0ahttps://football-labo.com{% url 'soccer:player_detail' comment.player.id %}" rel="nofollow" class="btn btn-outline-primary"><i class="fab fa-twitter"></i> ツイート</a>
      </div>
      </div>
    </div>
    <hr>
  {% empty %}
    <div class="text-center mb-4">
      <i class="fas fa-comment-slash"></i> まだ投稿はありません。<br>
      コメントよろしくお願いします。
    </div>
{% endfor %}


{% block javascripts %}
    {% for comment in comments %}
        {% if player.main_position == 'GK' %}
        <script type="text/javascript"> 
            var ctx = document.getElementById("radar-chart-comment{{ comment.id }}");
            var myRadarChart = new Chart(ctx, {
                type: 'radar',
                data: {
                    labels: ['セービング', 'ハンドリング', 'キック', 'ポジショニング', '反射神経'],
                    datasets:[ 
                        {
                            label: "コメント投稿者の評価",
                            data: [                                
                                '{{ comment.saving }}', 
                                '{{ comment.handling }}', 
                                '{{ comment.kick }}',
                                '{{ comment.positioning }}', 
                                '{{ comment.reflexes }}',
                            ],
                            backgroundColor: 'rgba(255, 99, 132, 0.6)',
                            borderColor: 'rgba(255, 99, 132, 0.9)',
                            pointBackgroundColor: 'rgba(255, 99, 132, 0.9)',
                            pointBorderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 3,
                            pointRadius: 3,
                        }
                    ]
                },
                options : {
                    scale: {
                      pointLabels: {
                        fontSize: 10
                      },
                      ticks: {
                        max: 7,
                        min: 0,
                        stepSize: 1,
                        fontSize: 10,
                        backdropColor: 'rgba(255, 255, 255, 0)',
                      }
                    },
                    legend:{
                      labels: {
                          fontSize: 10,
                      }
                    },
                    tooltips:{
                      titleFontSize: 10,
                      bodyFontSize: 10,
                    },
                    maintainAspectRatio: false
                }
            });
        </script>
        {% else %}
        <script type="text/javascript"> 
            var ctx = document.getElementById("radar-chart-comment{{ comment.id }}");
            var myRadarChart = new Chart(ctx, {
                type: 'radar',
                data: {
                    labels: ['シュート', 'ドリブル', 'パス', '守備', 'フィジカル', 'スピード'],
                    datasets:[ 
                        {
                            label: "コメント投稿者の評価",
                            data: [
                                
                                '{{ comment.shoot }}', 
                                '{{ comment.dribble }}', 
                                '{{ comment.pas }}',
                                '{{ comment.defense }}', 
                                '{{ comment.physical }}',
                                '{{ comment.speed }}',
                                
                            ],
                            backgroundColor: 'rgba(255, 99, 132, 0.6)',
                            borderColor: 'rgba(255, 99, 132, 0.9)',
                            pointBackgroundColor: 'rgba(255, 99, 132, 0.9)',
                            pointBorderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 3,
                            pointRadius: 3,
                        }
                    ]
                },
                options : {
                    scale: {
                      pointLabels: {
                        fontSize: 10
                      },
                      ticks: {
                        max: 7,
                        min: 0,
                        stepSize: 1,
                        fontSize: 10,
                        backdropColor: 'rgba(255, 255, 255, 0)',
                      }
                    },
                    legend:{
                      labels: {
                          fontSize: 10,
                      }
                    },
                    tooltips:{
                      titleFontSize: 10,
                      bodyFontSize: 10,
                    },
                    maintainAspectRatio: false
                }
            });
        </script>
        {% endif %}
        <script type="text/javascript"> 
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                crossDomain: false,
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });          
            $('.like{{ forloop.counter }}').on('click', function () {
                var pk = $(this).attr('name');
                $.ajax({
                  type: 'GET',
                  method: 'GET',
                  url: "{% url 'soccer:player_like' comment.pk %}",
                  data: {
                      'pk': pk
                  },
                  dataType: 'json',
                }).done(function (data) {
                  if(data['count'] < 10){
                    $('#comment' + String(data['pk'])).text('いいね' + ' (' + String(data['like']) + ')');
                  } else if(data['count'] === 10) {
                    $('#comment' + String(data['pk'])).text('いいね' + ' (' + String(data['like']) + ')').css('pointer-events', 'none').attr('tabindex', -1);
                  } else {
                    $('#comment' + String(data['pk'])).css('pointer-events', 'none').attr('tabindex', -1);
                  }
                })
            });
        </script>
    {% endfor %}
{% endblock %}
