<table border="1" class="position-table mb-5">
    <tr>
      <td class="position-player-list-td" rowspan="2">
        <p class="position-player-list-name"><a href="LW/">LW</a> ({{ num_lw }})</p>
      </td>
      <td class="position-player-list-td">
        <p class="position-player-list-name"><a href="CF/">CF</a> ({{ num_cf }})</p>
      </td>
      <td class="position-player-list-td" rowspan="2">
        <p class="position-player-list-name"><a href="RW/">RW</a> ({{ num_rw }})</p>
      </td>
    </tr>
    <tr>
      <td class="position-player-list-td">
        <p class="position-player-list-name"><a href="SS/">SS</a> ({{ num_ss }})</p>
      </td>
    </tr>
    <tr>
      <td class="position-player-list-td" rowspan="2">
        <p class="position-player-list-name"><a href="LM/">LM</a> ({{ num_lm }})</p>
      </td>
      <td class="position-player-list-td">
        <p class="position-player-list-name"><a href="AM/">AM</a> ({{ num_am }})</p>
      </td>
      <td class="position-player-list-td" rowspan="2">
        <p class="position-player-list-name"><a href="RM/">RM</a> ({{ num_rm }})</p>
      </td>
    </tr>
    <tr>
      <td class="position-player-list-td">
        <p class="position-player-list-name"><a href="CM/">CM</a> ({{ num_cm }})</p>
      </td>
    </tr>
    <tr>
      <td class="position-player-list-td">
        <p class="position-player-list-name"><a href="LWB/">LWB</a> ({{ num_lwb }})</p>
      </td>
      <td class="position-player-list-td">
        <p class="position-player-list-name"><a href="DM/">DM</a> ({{ num_dm }})</p>
      </td>
      <td class="position-player-list-td">
        <p class="position-player-list-name"><a href="RWB/">RWB</a> ({{ num_rwb }})</p>
      </td>
    </tr>
    <tr>
      <td class="position-player-list-td">
        <p class="position-player-list-name"><a href="LB/">LB</a> ({{ num_lb }})</p>
      </td>
      <td class="position-player-list-td">
        <p class="position-player-list-name"><a href="CB/">CB</a> ({{ num_cb }})</p>
      </td>
      <td class="position-player-list-td">
        <p class="position-player-list-name"><a href="RB/">RB</a> ({{ num_rb }})</p>
      </td>
    </tr>
    <tr>
      <td class="position-player-list-td"></td>
      <td class="position-player-list-td">
        <p class="position-player-list-name"><a href="GK/">GK</a> ({{ num_gk }})</p>
      </td>
      <td class="position-player-list-td"></td>
    </tr>
  </table>